  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5dc;
  }
  
  .card {
    background-color: #ddb566;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #000;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    margin-top: 10px;
    font-size: 14px;
    color:#050505;
  }
  
  .form input {
    padding: 10px;
    border: 1px solid #050505;
    border-radius: 6px;
    margin-top: 5px;
  }
  
  .loginButton {
    margin-top: 20px;
    background-color: #854d3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .loginButton:hover {
    background-color: #6e3f30;
  }
  
  .signup {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup a {
    color: #5c2b29;
    text-decoration: none;
    font-weight: bold;
  }
  